
   body {
    background: #000;
    color: #ffe919; 
   }
  
   
   .starwars {
    position:absolute;
    width:1000px;
    height: 1000px;
    bottom: 0;
    left: 12%;
     
    font-size: 40px;
    line-height: 90px;
    text-align: center;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg);
     
    overflow: hidden;
   }
   .starwars-title {
      font-size: 70px;
   }
   .content {
    position: absolute;
    top: 100%;
    animation: cosmos 40s linear 1s ;
    animation-duration: 30s;
    animation-iteration-count:infinite;
   }
   @keyframes cosmos {
    from { top: 100%; }
    to { top: -100%; 
   }
}